<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of customers</title>
    <link rel="stylesheet" href="/resources/bootstrap-5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="stylesheet" href="/resources/fontawesome-free-5.15.4-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="/resources/fontawesome-free-5.15.4-web/css/solid.min.css">
    <script src="/resources/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-5">
                    <h1>List of customers</h1>
                </div>
                <div class="col-sm-7">
                    <a href="/customers/create" class="btn btn-outline-light">
                        <i class="fas fa-plus-square"></i>
                        <span>Add New Customer</span>
                    </a>
                    <a href="/transfers" class="btn btn-outline-light">
                        <i class="fas fa-history"></i>
                        <span>Transfer money Information</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FullName</th>
                <th scope="col">Email</th>
                <th scope="col" class="text-center">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Balance</th>
                <th scope="col" class="text-center" colspan="5">Action</th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="customer : ${customers}">

            <tr>
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.fullName}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phone}" class="text-center" ></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.balance}" class="text-end"></td>
                <td>
                    <a class="btn btn-outline-secondary" href="#">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-success" th:href="@{/customers/deposit/__${customer.id}__}">
                        <i class="fa fa-plus"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-warning" th:href="@{/customers/withdraw/__${customer.id}__}">
                        <i class="fa fa-minus"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-primary" th:href="@{/customers/transfer/__${customer.id}__}">
                        <i class="fas fa-exchange-alt"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-danger" href="#">
                        <i class="fa fa-ban"></i>
                    </a>
                </td>
            </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</body>
</html>